<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Cadastro de ordem de serviço</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de ordem de serviço
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		<form>
			<div class="row">
				<div class="form-group  col-sm-12" >
					<label for="numeroOS">Nº: 00042/2017</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group  col-sm-4 bw-required">
					<label for="dataSolicitacao">Data da solicitação</label>
					<input type="text" class="form-control" readonly="readonly" id="dataSolicitacao"/>
				</div>
				
				<div class="form-group  col-sm-4 bw-required">
					<label for="usuario">Usuário</label>
					<input type="text" class="form-control" readonly="readonly" id="usuario"/>
				</div>
				
				<div class="form-group  col-sm-4 bw-required">
					<label for="nAtendimento">Nº do atendimento</label>
					<input type="text" class="form-control" readonly="readonly" id="nAtendimento"/>
				</div>
			</div>
			
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="cliente">Cliente</label>
					<div class="input-group">
				      <input id="nomeCliente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o cliente"/>
				      <input id="codigoCliente" type="hidden"/>
				      <span class="input-group-btn">
				        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
				        			data-toggle="modal" data-target="#pesquisaRapidaClientes" >
				        	<i class="glyphicon  glyphicon-search"></i>
				        </button>
				      </span>
				    </div>
				</div>
			</div>
			
			<div class="form-group bw-required" >
				<label for="descricao" class="control-label">Descrição do serviço a ser executado</label>
				<textarea id="descricao" rows="3" class="form-control"></textarea>
			</div>
			
			<button type="submit" class="btn  btn-primary">Salvar</button>				
		</form>
	</div>
</section>

</html>